@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

p {
    font-family: PT Sans;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

.centered {
    margin: 120 0;
}

.hai {
    font-size: 4.5em;
    font-weight: 700;
}

.typed {
    font-size: 3em;
    font-weight: 700;
}